.signupParentDiv {
  margin: auto;
  width: 80%;
  max-width: 300px;
  background-color: #e3f2fd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.signupParentDiv img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

button:hover {
  background-color: #0062cc;
}

.center-link {
  display: block; /* or inline-block */
  margin: 0 auto; /* Horizontally centers the element */
  text-align: center; /* Centers text inside the link if needed */
}